*{
    font-family: 'Poppins', sans-serif;
}
/* NAV */
.nav_links {
    width: 325px;
    height: 50px;
    display: inline;
    background-color: #F8F9FA;
}
/* NAV END */
#aboutus {
    margin-top: -40px;
    margin-left: 115px;
}

.bluebox {
    background-color: #0d63ff;
    text-align: center;
    height: 425px;
    margin-top: -70px;
}

.aboutheader {
    margin-top: 100px;
    font-weight: bold;
    color: white;
    font-size: 30pt;
    text-align: center;
    
}

.aboutp {
    display: inline-block;
    color: white;
    font-weight: 25pt;
    width: 400px;
    letter-spacing: .3mm;
}



.container div{
    height: 300px;
    width: 300px;
    margin-top: 100px;
    padding-top: 10px;
    margin-left: -10px;
}

#boxybox {
    position: relative;
    font-size: x-large;
    margin: 5px 0;
    float: left;
    
}

.history {
    width: 750px;
    font-weight: 200px;
    font-size: large;
    float: right;
    margin-top: 10px;
    height: 400px;
}

.history p{
    overflow-wrap: inherit;
    overflow: ;
    margin-bottom: 10px;
    padding-bottom: 40px;
}



.navbar1 {
    
    position: relative;
    height: 75px;
    padding-top: 10px;
    text-align: right;
    font-size: larger;
    font-weight: bold;
    padding-right: 10px;
}

.smalllinks {
    font-size: smaller;
    padding-top: -10px;
}

.navbar1 button {
    float: left;
    border: none;
    background-color: transparent;
    padding-top: 15px;
    margin-top: -20px;
}

