*{
    font-family: 'Poppins', sans-serif;
}
/* NAV */
.nav_links {
    width: 325px;
    height: 50px;
    display: inline;
    background-color: #F8F9FA;
}
/* NAV END */
#aboutus {
    margin-top: -40px;
    margin-left: 115px;
}

.bluebox {
    background-color: #0d63ff;
    text-align: center;
    height: 425px;
    margin-top: -70px;
}

.aboutheader {
    margin-top: 100px;
    font-weight: bold;
    color: white;
    font-size: 30pt;
    text-align: center;
    
}

.aboutp {
    display: inline-block;
    color: white;
    font-weight: 25pt;
    width: 400px;
    letter-spacing: .3mm;
}



.container div{
    height: 300px;
    width: 300px;
    margin-top: 100px;
    padding-top: 10px;
    margin-left: -10px;
}

#boxybox {
    position: relative;
    font-size: x-large;
    margin: 25px 0;
    float: left;
    
}

.history {
    width: 750px;
    font-weight: 200px;
    font-size: large;
    float: right;
    margin-top: 15px;
    height: 400px;
}

.history p{
    overflow-wrap: inherit;
    margin-bottom: 10px;
    padding-bottom: 40px;
}



.navbar1 {
    
    position: relative;
    height: 75px;
    padding-top: 10px;
    text-align: right;
    font-size: larger;
    font-weight: bold;
    padding-right: 10px;
}

.smalllinks {
    font-size: smaller;
    padding-top: -10px;
}

.navbar1 button {
    float: left;
    border: none;
    background-color: transparent;
    padding-top: 15px;
    margin-top: -20px;
}

/* start of nikole footer */
footer.footer-container{
    height:320px;
    width:100%;
    background-color: rgb(248, 248, 248);
    display: inline-block;
    position: relative;

}

footer .corner-logos{
    height:20px;
    width:20px;
    opacity: 0.7;
}

footer .logo{
    height:60px;
    margin:5%;
}

footer.inside-container{
    margin-left:6%;
    margin-right:10%;
    padding:2px;
}

footer .col-descrip p{
    color:gray;
}

footer .col-md-2 h6{
    font-weight: bold;;
}

footer .col-md-2 p{
    color:gray;
}

footer .col-md-2{
    padding:3%;
}

footer .foot-note li{
    color:gray;
    font-size: 9pt;
}

footer .video{
    width: 100%;
}

footer .overlay h1{
    font-weight: 800;
}

footer .foot-note{
	width:100%;
	text-align: center;
	padding:3px;
	bottom:0px;
}

footer  .logo{
    height:60px;
    margin:5%;
}



footer ul li {
    display:inline;
    list-style:none;
}

footer ul li a {
	text-decoration: none;
	color: blue;
    font-size: 9pt;
}